.feedback__title {
    font-size: 16px;
    margin-bottom: 23px;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .feedback__title {
        font-size: 24px;
        margin-bottom: 37px;
        font-weight: 400;
    }
}
@media screen and (min-width: 1024px) {
    .feedback__title {
        font-size: 36px;
    }
}