.footer__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media screen and (min-width: 500px) {
    .footer__head {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .footer__head {

    }
}