.card__bottom {
  min-height: 44px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #009FAC;
  padding: 10px 16px;
  border-radius: 0px 0px 5px 5px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .card__bottom {
    padding:  15px 20px;
    display: none;
  } 
}