.projects__item-logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .projects__item-logo {
    
    max-width: 172px;
    max-height: 43px;
  }
}

@media screen and (max-width: 320px) {
  .projects__item-logo {
    
    max-width: 120px;
    max-height: 26px;
  }
}
