.projects__item-logo {
  padding-left: 20px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .projects__item-logo {
    padding-left: 16px;
    max-width: 172px;
    max-height: 43px;
  }
}

@media screen and (max-width: 320px) {
  .projects__item-logo {
    padding-left: 10px;
    padding-top: 12px;
    max-width: 120px;
    max-height: 26px;
  }
}
