.education__card {
    background-color: white;
    border-radius: 11px;
    box-sizing: border-box;
    max-width: 1169px;
    width: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

@media screen and (max-width: 860px) {
    .education__card {
        width: 90%;
        min-height: 322px;
        padding: 20px;
    }
}
@media screen and (max-width: 498px) {
    .education__card {
        flex-direction: column-reverse;
        padding: 16px;
    }
}