.header__link {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100px;
    height: 44px;
    margin-right: 21px;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    box-shadow: 0px 0px 0px #009FAC;
    transition: box-shadow 0.3s ease-in-out;
}

.header__link:nth-of-type(7) {
    margin-right: 0;
}

.header__link:hover {
    box-shadow: 0px 2px 0px #009FAC;
}