.cards_publications {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media screen and (min-width: 768px) {
  .cards_publications {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* grid-template-rows: 1fr 1fr; */
    gap: 0 30px;
  }
}
@media screen and (min-width: 1440px) {
  .cards_publications {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 33px;
  }
}
