.weWork__logo-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(29, 1fr);
    margin-top: 13px;
    align-items: end;
    row-gap: 10px;
}

@media screen and (min-width: 500px) {
    .weWork__logo-container {
        display: grid;
        grid-template-columns: repeat(35, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 18px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .weWork__logo-container {
        display: grid;
        grid-template-columns: repeat(37, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 50px;
        margin-top: 65px;
    }
}