.projects__menu-dropdown-button {
  height: 24px;
  width: 24px;
  display: none;
  background-image: url(../../../images/projects/chevron-down.svg);
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .projects__menu-dropdown-button {
    display: block;
  }
}
