@font-face {
    src: 
    url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
    font-family: "OpenSans";
    font-weight: 600;
}

@font-face {
    src: 
    url(../fonts/OpenSans-Bold.ttf) format('truetype');
    font-family: "OpenSans";
    font-weight: 700;
}

@font-face {
    src: 
    url(../fonts/OpenSans-Regular.ttf) format('truetype');
    font-family: "OpenSans";
    font-weight: 400;
}

@font-face {
    src: 
    url(../fonts/OpenSans-Italic.ttf) format('truetype');
    font-family: "OpenSans";
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: 
    url(../fonts/OpenSans-Light.ttf) format('truetype');
    font-family: "OpenSans";
    font-weight: 300;
}