.projects__menu-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .projects__menu-item-link {
      font-size: 14px;
      line-height: 19px;
  }
}

@media screen and (min-width: 1440px) {
  .projects__menu-item-link {
      font-size: 16px;
      line-height: 22px;
  }
}