.swiper {
    overflow: visible;
    overflow-x: clip;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .swiper-slide {
    flex-direction: column;
    height: 340px;
    width: 348px;
    border-radius: 10px;
    background: #E0F0FF;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content:flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items:flex-start;
    padding: 20px 20px 0;
    box-sizing: border-box;
  }

  .swiper-slide img {
    display: block;
    
    object-fit: cover;
  }

.swiper-button-next, .swiper-button-prev{
    color: rgba(0, 0, 0, 0);
    width: 120px;
    height: 120px;
    top: 40%;
    opacity: 1;
    transition:all .1s linear ;
}

.swipper-center {
    position: relative;
    width: 1369px;
    height: 375px;
    margin: 45px auto 0;
    transition: all .2s ease-in-out;
}

.swiper-pagination-bullet {
    opacity: 0.5;
    background: white;
    
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

@media screen and (max-width: 1368px) {
    .swiper-button-next, .swiper-button-prev{
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }
    .swipper-center {
        width: 768px;
    }
}

@media screen and (max-width: 786px) {
    .swipper-center {
        width: 387px;
    }
}

@media screen and (max-width: 430px) {
    .swipper-center {
        width: 308px;
        height: 304px;
    }
    .swiper-slide {
        height: 260px;
        padding: 16px 16px 0;
    }
}