.education__subtitle {
    font-size: 1.25vw;
    line-height: 1.6;
    color: white;
    padding: 0;
    margin: 0 auto 60px auto;
    max-width: 920px;
    width: 82%;
}

@media screen and (max-width: 860px) {
    .education__subtitle {
        font-size: 14px;
        line-height: 20px;
        width: 90%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 498px) {
    .education__subtitle {
        font-size: 12px;
        line-height: 20px;
        width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .education__subtitle {
        font-size: 18px;
        line-height: 30px;
    }
}