@media screen and (min-width: 768px) {
    .feedback__inputList {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
}