.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
    .footer__contacts {
        width: 33%;
    }
}

@media screen and (min-width: 786px) {
    .footer__contacts {
        width: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .footer__contacts {
        width: 19%;
    }
}