.education__paragraph {
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    padding: 0 0 0 10px;
    margin: 0;
}
.education__paragraph:before {
    content: '•';
    padding-right: 10px;
}

@media screen and (max-width: 860px) {
    .education__paragraph {
        padding-left: 5px;
        font-size: 12px;
        line-height: normal;
        font-weight: 600;
    }
}

@media screen and (max-width: 860px) {
    .education__paragraph {
        font-size: 12px;
        line-height: normal;
        font-weight: 400;
    }
}

@media screen and (min-width: 1440px) {
    .education__paragraph {
        font-size: 18px;
        line-height: 30px;
        white-space: normal;
    }
}