.footer__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

@media screen and (min-width: 500px) {
    .footer__column {
        justify-content: start;
    }
}

@media screen and (min-width: 1024px) {
    .footer__column {
        width: 30%;
    }
}
