.aboutUs__auto {
    display: flex;
    flex-direction: column;
    max-width: 1132px;
    margin: 0 auto;
}

@media screen and (max-width: 746px) {
    .aboutUs__auto {
        overflow: hidden;
    }
}