.projects__menu-item_active {
  border-bottom: 5px solid #009FAC;
}

@media screen and (max-width: 768px) {
  .projects__menu-item_active {
    border-width: 4.5px;
  }
}


@media screen and (max-width: 320px) {
  .projects__menu-item_active {
    border-width: 2px;
  }
}
