.aboutUs__date {
    color: #009FAC;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 8px;
}

@media screen and (max-width: 746px) {
    .aboutUs__date {
        font-size: 12px;
        line-height: 17px;
    }
}