.card__authors {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #009FAC;
  margin: 0 auto 10px;
}

@media screen and (min-width: 768px) {
  .card__authors {
    margin: 0 auto 12px;
  } 
}

@media screen and (max-width: 768px) {
  .card__authors {
    font-size: 12px;
    height: 34px;
  }
  
}